// colors

@if ($color-black == null) {$color-black: #000000;}
@if ($color-white == null) {$color-white: #ffffff;}
@if ($color-gray == null) {$color-gray: #f7f7f7;}


@if ($color-text == null) {$color-text: #3f3e46;}
@if ($color-link == null) {$color-link: #1fa3d8;}


@if ($color-primary == null) {$color-primary: #2b7bf3;}
@if ($color-warning == null) {$color-warning: #e8ae2b;}
@if ($color-danger == null) {$color-danger: #da4a5e; }
@if ($color-success == null) {$color-success: #31c365;}

$size-mk : 0;
$size-xs : 400;
$size-sm : 700;
$size-md : 1000;
$size-lg : 1200;

// fonts

@if ($font-main == null) {
	$font-main: arial,verdana;
}
